In [6]:
import pandas as pd 
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis

In [5]:
default = pd.read_csv("Data/default.csv")
default.sample(5)

     default student      balance        income
2307      No     Yes  1098.955685  21025.927456
394       No     Yes  1303.662590   7986.000336
1438      No      No   316.012131  34250.521603
8430      No      No   440.024543  49358.425786
2948      No      No  1423.149545  33591.231539